<form name="register" class="form-signin">
	<h1 class="form-signin-heading text-muted">Sign In</h1>
	<input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
	<input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required="">
	<input name="Confirm Password" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password">
	<p c;ass="help-block" ng-show="register.password_confirm.$dirty">please match the passwords.</p>
	<button class="btn btn-lg btn-primary btn-block" type="submit">
		Sign In
	</button>
</form>